
{ {% extends 'lauout.html' %}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    {% block content %} 
  <h1>Add Author</h1>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    name: <input type="text" id="name" name="name"><br><br>
    Email: <input type="text" id="email" name="email"><br><br>
    Phone: <input type="number" name="phone"><br><br>
    Image: <input type="file" id="image" name="image"> <br><br>
    <button>Add Author</button>
  </form>
    {% endblock %}
    
</body>
</html>